/* 
-------------------------
    Universal Styles 
-------------------------
*/
body {
    background-color: #FFFBF0;
}

.products {
    background-color: white;
}

/* 
--------------------
    Colored Text 
--------------------
*/
span {
    color: #FABE4C;
}

/* 
--------------------
    Font Styles 
--------------------
*/
h1, h2 {
    font-family: Bebas Neue;
}

/* 
-------------------
    Font Sizes 
-------------------
*/
h1 {
    font-size: 80px;
}

h2 {
    font-size: 48px;
}